.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: azure;
  padding-bottom: 110px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 0px;
  background: #d7ffff;
  padding-top: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.controls label {
  font-weight: bold;
}

.controls select {
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.task-card {
  background-color: floralwhite;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.task-card:hover {
  background-color: #f0f0f0;
}

.task-card h3 {
  margin: 0 0 10px;
}

.task-card p {
  margin: 5px 0;
}

.task-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.task-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.task-actions button:hover {
  background-color: #0056b3;
}

.task-form {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.task-form div {
  margin-bottom: 15px;
}

.task-form label {
  display: block;
  font-weight: bold;
}

.task-form input,
.task-form select {
  width: -webkit-fill-available;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.task-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #0056b3;
}

.task-form .error {
  color: red;
  font-size: 0.9em;
}

.task-form button[type="button"] {
  background-color: #dc3545;
}

.task-form button[type="button"]:hover {
  background-color: #c82333;
}

.search {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search input {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
